body {
  background-color:       #cf68;
  transform-origin:       0px 0px 0px;
  transform:              scale(1.43,1.43);
}

object {
  border:                 1px dotted red; }

img {
  border:                 1px dotted green; }

svg {
  border:                 1px dotted blue; }

gauge {
  display:                block;
  width:                  100mm;
  height:                 10mm;
  background-color:       yellow;
  mix-blend-mode:         multiply; }
