body {
  background-color:       #f0e29687;
  transform-origin:       0px 0px 0px;
  transform:              scale(1.43,1.43);
}

svg {
  border:                 1px dotted blue; }

gauge {
  display:                block;
  width:                  100mm;
  height:                 10mm;
  background-color:       yellow;
  mix-blend-mode:         multiply; }

.shady {
  opacity:                0.1; }
