
body {
  background-color:       #a3d0c5; }

.btn {
  /*width:                  10mm;*/
  /*height:                 10mm;*/
  padding:                3mm;
  margin:                 3mm;
  border:                 5px solid #0005; }

.btn.up {
  background-color:       transparent; }

.btn.down {
  border-color:           red; }

.btn.dlatch {
  background-color:       lime; }

.btn.slatch {
  box-shadow:             inset 0 0 20px 2px #ffff00, 0 0 20px 10px #ffff00; }

