
body {
  background-color:       #a3d0c5; }

.btn {
  /*width:                  10mm;*/
  /*height:                 10mm;*/
  padding:                3mm;
  margin:                 3mm;
  border:                 1px solid black;
 }

.btn.up {
  background-color:       transparent; }

.btn.down {
  background-color:       lime; }

.btn.double {
  border:                 2px solid red; }