
:root {
  --blue-lighter:         #2637c4;
  --blue-darker:          #1c2993;
  --blue-darkest:         #0e1447;
  --blue:                 #61cff7;
  --pink:                 #ff7575;
  --red:                  #ff0000;
  --lime:                 #00ff00;
  --orange:               #ffa500;
  --yellow-light:         #ffff00bb;
  --glowing:              inset 0 0 20px 2px var(--yellow-light), 0 0 20px 10px var(--yellow-light); }

body {
  padding:                3mm;
  background-color:       #a3d0c5;
  font-family:            'Noto Serif', serif; }

table {
  font-family:            sans-serif;
  font-weight:            bold;
  table-layout:           fixed;
  width:                  100%;
  border-collapse:        separate;
  border-spacing:         1mm; }

th, td {
  font-size:              75%;
  overflow:               hidden;
  font-family:            sans-serif;
  font-weight:            bold;
  padding:                3mm;
  margin:                 3mm;
  border:                 5px solid #0005;
  background-color:       transparent; }

th.omit, td.omit {
  border:                 none; }

.lamp {
  border-radius:          3mm;
}


.push    {  border-color:     var(--red);       }
.toggle  {  box-shadow:       var(--glowing);   }
.latch   {  background-color: var(--lime);      }
.ptlatch {  background-color: var(--orange);    }
.tlatch  {  background-color: var(--blue);      }
.ntlatch {  background-color: var(--pink);      }

code {
  border:                 3px solid #0005; }

code.toggle {
  box-shadow:             inset 0 0 20px 0px #ffff00bb, 0 0 9px 2px #ffff00bb; }

h1 {
  font-family:            sans-serif;
  font-weight:            bold; }

p, ol, ul {
  font-style:             italic;
  margin-bottom:          3mm; }

ol, ul {
  /*list-style:             katakana-iroha inside;*/
  list-style:             none;
  list-style-position:    inside;
  counter-reset:          my-awesome-counter; }

li {
  /*display:            list-item; */
  counter-increment:      my-awesome-counter; }

li::before {
  content:                counter(my-awesome-counter) ". ";
  font-weight:            bold;
  color:                  #ff0000; }

